.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 32px;
	padding-block: 24px;
	max-height: 95px;
}

.iconBar {
	display: flex;
	align-items: center;
}

.themeIcon {
	margin-right: 45px;
}

.searchBar {
	display: flex;
	border-radius: 8px;
	margin-left: 28px;
}

.searchIcon {
	&:hover {
		background-color: transparent;
	}
}

.searchInput {
	padding: 12px 18px;
}
